image:
  repository: {{ .Values.image.app_api.repository }}
  tag: {{ .Values.image.app_api.tag | quote }}

resources:
  {{- toYaml .Values.resources.app_api | nindent 2 }}

imagePullSecrets:
  {{- toYaml .Values.imagePullSecrets | nindent 2 }}

database:
  host: {{ .Values.database.host | quote }}
  name: {{ .Values.database.name | quote }}
  user: {{ .Values.database.user | quote }}
  secretName: {{ .Values.database.secretName | quote }}
