sp-local:
  values:
    - environments/globals.yaml.gotmpl
    - environments/sp-local/values.yaml.gotmpl

sp-staging:
  values:
    - environments/globals.yaml.gotmpl
    - environments/sp-staging/values.yaml.gotmpl