image:
  repository: {{ .Values.image.cloudflared.repository }}
  tag: {{ .Values.image.cloudflared.tag | quote }}

resources:
  {{- toYaml .Values.resources.cloudflared | nindent 2 }}

tunnelId: {{ .Values.cloudflared.tunnelId | quote }}
credentialsSecretName: {{ .Values.cloudflared.credentialsSecretName }}
credentialsJson: {{ .Values.cloudflared.credentialsJson | quote }}

ingress:
  {{- toYaml .Values.cloudflared.ingress | nindent 2 }}
