image:
  repository: {{ .Values.image.app_ui.repository }}
  tag: {{ .Values.image.app_ui.tag | quote }}

resources:
  {{- toYaml .Values.resources.app_ui | nindent 2 }}

imagePullSecrets:
  {{- toYaml .Values.imagePullSecrets | nindent 2 }}
